<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<!--<hibernate-configuration>-->
<!--<session-factory>-->
<!--<property name="connection.url"/>-->
<!--<property name="connection.driver_class"/>-->
<!--<property name="connection.username"/>-->
<!--<property name="connection.password"/>-->
<!--&lt;!&ndash; DB schema will be updated if needed &ndash;&gt;-->
<!--&lt;!&ndash; <property name="hbm2ddl.auto">update</property> &ndash;&gt;-->
<!--</session-factory>-->
<!--</hibernate-configuration>-->
<hibernate-configuration>
  <session-factory>
    <!--C3P0配置 -->
    <property name="hibernate.connection.provider_class">org.hibernate.c3p0.internal.C3P0ConnectionProvider</property>
    <property name="hibernate.c3p0.max_size">20</property>
    <property name="hibernate.c3p0.min_size">5</property>
    <property name="hibernate.c3p0.timeout">120</property>
    <property name="automaticTestTable">Test</property>
    <property name="hibernate.c3p0.max_statements">100</property>
    <property name="hibernate.c3p0.idle_test_period">120</property>
    <property name="hibernate.c3p0.acquire_increment">1</property>
    <property name="c3p0.testConnectionOnCheckout">true</property>
    <property name="c3p0.idleConnectionTestPeriod">18000</property>
    <property name="c3p0.maxIdleTime">25000</property>
    <property name="c3p0.idle_test_period">120</property>

    <!-- Hibernate方言 -->
    <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
    <!-- 数据库连接 -->
    <property name="connection.url">
      jdbc:mysql://localhost:3306/db_database25?useUnicode=true&amp;characterEncoding=UTF-8
    </property>
    <!-- 用户名 -->
    <property name="connection.username">root</property>
    <!-- 密码 -->
    <property name="connection.password"></property>
    <!-- 驱动 -->
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <!-- 自动建表 -->
    <property name="hibernate.hbm2ddl.auto">update</property>
    <!-- 显示SQL语句 -->
    <property name="show_sql">true</property>
    <!-- 映射文件  -->
    <!-- 映射文件  -->
    <mapping class="com.cq.persistence.TbCategory"/>
    <mapping class="com.cq.persistence.TbMedicine"/>
    <mapping class="com.cq.persistence.TbSelldetail"/>
    <mapping class="com.cq.persistence.TbUser"/>
    <mapping class="com.cq.persistence.ViewCategory"/>
    <mapping class="com.cq.persistence.TbAnnouncement"/>
    <mapping class="com.cq.persistence.ViewCountsell"/>
  </session-factory>
</hibernate-configuration>